name: Check for ALTER or UPDATE commands in SQL files

on:
  pull_request:
    paths:
      - '**/*.sql'
    types: [opened, synchronize, reopened]

jobs:
  check-sql-commands:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Fetch all branches
        run: |
          git fetch --all

      - name: Get list of changed SQL files
        run: |
          # Use the dynamic GitHub context variables for comparing branches
          echo "Comparing branches: ${GITHUB_BASE_REF}...${GITHUB_HEAD_REF}"
          git diff --name-only origin/${{ github.base_ref }}...origin/${{ github.head_ref }} > changed_files.txt
          cat changed_files.txt

      - name: Check for ALTER or UPDATE commands in SQL files
        id: check_sql
        run: |
          commands_found=false
          message=""
          while IFS= read -r file; do
            if [[ "$file" == *.sql ]]; then
              echo "Checking file: $file"
              if grep -q -E 'UPDATE|ALTER' "$file"; then
                echo "Detected UPDATE or ALTER command in $file"
                commands_found=true
                message+="Detected UPDATE, ALTER, DROP, or ADD in $file\n"
              fi
            fi
          done < changed_files.txt

          echo "::set-output name=commands_found::$commands_found"
          echo "::set-output name=alert_message::$message"

      - name: Create GitHub Issue
        uses: octokit/request-action@v2.x
        with:
          route: POST /repos/bhargavreddy17/sqltest/issues
          owner: bhargavreddy17
          repo: sqltest
          title: "Notification to Team"
          body: |
            This issue is to notify the team @org/team-name about the recent changes.
            **PR Details:**
            - **PR Number**: #${{ github.event.pull_request.number }}
            - **PR Title**: ${{ github.event.pull_request.title }}
            - **PR Link**: ${{ github.event.pull_request.html_url }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
